<div class=" bg-[#1A1814] flex flex-row">
  <!-- Sidebar -->
  <aside
    class="h-screen md:shadow transform md:translate-x-0 transition-transform duration-150 ease-in bg-[#0C0B09] mr-0 sm:mr-5"
  >
    <div class="flex items-center justify-center p-4 sidebar-header">
      <div class="inline-flex">
        <a href="#" class="inline-flex flex-row items-center">
          <span
            class="text-xl font-bold text-center text-white leading-56 font-poppins"
          >
            <span class="text-yellow-500">Menu</span> do Chefe
          </span>
        </a>
      </div>
    </div>
    <div class="px-4 py-6 ">
      <div class="flex flex-col gap-5">
       <div>
        <span class="flex justify-center mb-2 text-yellow-500">Categorias</span>
        <hr class="border border-yellow-500">
       </div>

        <button [ngClass]="{'bg-yellow-500 !text-black font-bold ':sortVerif, 'bg-transparent text-white':!sortVerif}"
          class="bg-transparent flex flex-row items-center justify-center h-10 px-3 rounded-lg text-gray-300 hover:bg-[#1A1814] hover:text-yellow-500"
          (click)="Produtos()"
        >
          Todos
        </button>
        <button
          #sorter
          class="cursor-pointer flex flex-row items-center justify-center  h-10 px-3 rounded-lg text-gray-300 hover:bg-[#1A1814] hover:text-yellow-500"
          routerLinkActive="bg-[#CDA45E]  text-white border-2 border-[#1A1814]"
          *ngFor="let categoria of categorias"
          [ngClass]="{'bg-yellow-500 !text-black font-bold ': selectedIndex == categoria.id_categoria, 'bg-transparent text-white': selectedIndex != categoria.id_categoria}"
          (click)="ProdutosCat(categoria.id_categoria)"
        >
          {{ categoria.categoria }}
        </button>
      </div>
    </div>
  </aside>
  <div class="flex flex-row flex-wrap w-2/3 gap-5 ml-10 ">
    <app-item2
      *ngFor="let produto of produtos"
      class=" md:m-0 rounded-xl"
      [produto]="produto">
    </app-item2>
  </div>

 <div class="flex flex-col">
  <div class="p-8 m-5 bg-black rounded-lg">
    <h2 class="mb-4 text-2xl font-bold">Carrinho de Compras
      <li class="text-xl pi pi-shopping-cart"></li>
    </h2>
    <!--TESTAR ISSO DPS grid grid-cols-[repeat(auto-fit,minmax(200px,1fr))] gap-4 -->
  <ul class="">
      <li *ngFor="let item of cartItem | slice: (currentPage - 1) * rows : currentPage * rows" class="flex flex-col items-start justify-between w-full item-animation">
        <div class="flex flex-col p-5 my-4 rounded-lg">
         <div class="flex flex-row w-full gap-24">
          <span class="self-start font-bold text-md w-[80%] ">{{item.nomeproduto}}</span>
          <i class="justify-center text-sm text-red-700 w-[20%] cursor-pointer pi pi-times" (click)="RemoveItem(item)"></i>
         </div>
         <div>

         </div>
        <span class="my-3 mr-8 text-gray-500">€{{item.preco}}</span>
        <p-inputNumber
        class="my-4"
        [showButtons]="true"
        buttonLayout="horizontal"
        inputId="horizontal"
        spinnerMode="horizontal"
        incrementButtonIcon="pi pi-plus"
        decrementButtonIcon="pi pi-minus"

        [(ngModel)]="item.quantidade"  [ngModelOptions]="{standalone: true}"
        (ngModelChange)="updateCartItem(item)"
      >
      </p-inputNumber>
        </div>

      </li>
      <li class="">
        <p-paginator  [rows]="rows" [totalRecords]="cartItem.length" (onPageChange)="onPageChange($event)"></p-paginator>
      </li>
    </ul>

  </div>
  <div class="p-8 m-5 bg-black rounded-lg ">
    <h2 class="mb-4 text-xl font-bold">Outras informações
      <li class=" pi pi-info-circle text-md"></li>
    </h2>
   <div class="mt-4 mb-5">
     <p>Restaurante:</p>
    <hr class="border border-yellow-500 w-[40px]">
   </div>
    <p-dropdown [options]="listarest"  class="mb-4 "  [(ngModel)]="selectedRes" [ngModelOptions]="{standalone: true}" optionLabel="nome_restaurante"></p-dropdown>
   <div class="mt-4 mb-5">
     <p>Tipo de Encomenda:</p>
    <hr class="border border-yellow-500 w-[40px]">
   </div>
    <p-dropdown [options]="tipos" class="mb-4 " [(ngModel)]="tipoEnc" [ngModelOptions]="{standalone: true}"  optionLabel="tipo"></p-dropdown>
  </div>
  <div class="flex justify-center mb-10 k">
    <p-button routerLink="/order" (onClick)="Encomendar()" label="Encomendar" styleClass="!bg-yellow-500 !text-black !font-bold p-button-rounded p-button-warning border-none "></p-button>
  </div>
</div>
</div>
