<div
  class="flex flex-col items-center justify-center py-12 mx-auto bg-[#1A1813]"
>
  <div class="flex flex-col self-start m-10">
    <h2 class="text-3xl font-bold text-white">Chefs</h2>
    <p class="text-[36px] font-bold text-yellow-500">Nossos renomados Chefs</p>
  </div>
  <div
    class="flex items-center justify-center w-1/4 border-yellow-200 rounded-lg border">
    <div class="relative overflow-hidden cursor-pointer aspect-video rounded-xl group">
      <div class="absolute inset-x-0 z-50 flex  items-center text-white transition duration-300 ease-in-out opacity-0 cursor-pointer rounded-xl group-hover:opacity-100   bg-[#0c0b09cc] -bottom-1  ">
        <div class="">
          <div class="p-4 pb-10 space-y-3 text-xl transition duration-300 ease-in-out transform translate-y-4 ">
            <div class="font-bold">NOME CHEFE</div>
            <div class="text-sm opacity-60">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Distinctio dolores error iure, perferendis sequi totam. Ad aliquam
              aperiam atque deleniti dolor dolorem enim esse et in, inventore
              itaque, pariatur reprehenderit.
            </div>
            
          </div>
        </div>
      </div>
      <div class="flex items-center justify-center">
        <img
        alt=""
        
        class="object-cover w-4/5 transition duration-300 ease-in-out aspect-square group-hover:scale-110"
        src="../../../assets/chefteste.jpg"
      />
      </div>
    </div>
  </div>

<app-slider></app-slider>
</div>
