
<div class="flex flex-col items-center justify-center py-12 mx-auto bg-[#1A1814]" >
    
  <div class="flex flex-col self-start m-10">
      <h2 class="text-3xl font-bold text-white">Menu</h2>
      <p class="text-[36px] font-bold text-yellow-500 ">Check Our Tasty Menu</p>
    </div>

    <a href="#" class="block max-w-sm p-6 bg-[#1A1814] border border-amber-200 rounded-lg shadow hover:bg-[#0C0B09]">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Nome chefe</h5>
      <p class="font-normal text-gray-700 dark:text-gray-400"></p>
    </a>


</div>
   
