<div class="flex items-center justify-center hover:scale-105 transition-all duration-500 transform">
  <div
    class="w-[280px] h-[350px]  bg-[#0C0B09] rounded-3xl shadow-xl overflow-hidden"
  >
    <div class=" ">
      <div class="h-48 flex justify-center items-center"
      style="background-image: url(https://imgmod16.blob.core.windows.net/teste/{{img}});
      background-size: cover;
      background-position: center;
    "></div>

      <div class="p-4 sm:p-6">
        <p class="font-bold text-yellow-500 text-[18px] leading-7 mb-1">
          {{ titulo }}
        </p>
        <div class="flex flex-col  justify-center">
          <p class="text-[12px] font-bold text-white">
            {{ preco | currency : "EUR" }}
          </p>
          <p class="text-white font-[15px] ">
            {{ descricao }}
          </p>
        </div>

      </div>
    </div>
  </div>
</div>
