<footer class="py-8 text-sm text-white bg-black">
  <div class="flex items-center justify-center">
      <div class="w-full mb-8 md:w-1/2 lg:w-1/4">
        <div class="mb-8">
          <h3 class="mb-4 text-xl font-light">Restaurantly</h3>
          <p class="mb-4">
            A108 Adam Street<br />
            NY 535022, USA
          </p>
          <p class="mb-4">
            <strong>Phone:</strong> +1 5589 55488 55<br />
            <strong>Email:</strong> info@example.com
          </p>
          <div class="flex">
            <a
              href="#"
              class="p-2 mr-2 text-white bg-black rounded-full hover:bg-blue-500"
            >
              <i class="text-xl pi pi-twitter"></i>
            </a>
            <a
              href="#"
              class="p-2 mr-2 text-white bg-black rounded-full hover:bg-blue-500"
            >
              <i class="text-xl pi pi-facebook"></i>
            </a>
            <a
              href="#"
              class="p-2 mr-2 text-white bg-black rounded-full hover:bg-blue-500"
            >
              <i class="text-xl pi pi-instagram"></i>
            </a>
        
          </div>
        </div>
      </div>

      <div class="flex flex-col w-full mb-8 md:w-1/4 lg:w-1/4">
        <h4 class="mb-4 text-lg font-medium">Useful Links</h4>
        <ul>
          <li class="mb-2">
            <a href="#" class="text-gray-400 hover:text-white">Home</a>
          </li>
          <li class="mb-2">
            <a href="#" class="text-gray-400 hover:text-white">About us</a>
          </li>
          <li class="mb-2">
            <a href="#" class="text-gray-400 hover:text-white">Services</a>
          </li>
          <li class="mb-2">
            <a href="#" class="text-gray-400 hover:text-white"
              >Terms of service</a
            >
          </li>
          <li class="mb-2">
            <a href="#" class="text-gray-400 hover:text-white"
              >Privacy policy</a
            >
          </li>
        </ul>
      </div>

      <div class="flex flex-col w-full mb-8 md:w-1/4 lg:w-1/4">
        <h4 class="mb-4 text-lg font-medium">Useful Links</h4>
        <ul>
          <li class="mb-2">
            <a href="#" class="text-gray-400 hover:text-yellow-300">Home</a>
          </li>
          <li class="mb-2">
            <a href="#" class="text-gray-400 hover:text-yellow-300">About us</a>
          </li>
          <li class="mb-2">
            <a href="#" class="text-gray-400 hover:text-yellow-300">Services</a>
          </li>
          <li class="mb-2">
            <a href="#" class="text-gray-400 hover:text-yellow-300"
              >Terms of service</a
            >
          </li>
          <li class="mb-2">
            <a href="#" class="text-gray-400 hover:text-yellow-300"
              >Privacy policy</a
            >
          </li>
        </ul>
      </div>
  </div>
</footer>
