<div *ngIf="userinfo">
<main class="main flex flex-col flex-grow -ml-64 md:ml-0 transition-all duration-150 ease-in">
  <header class="header bg-[#0C0B09] shadow py-4 px-4">
    <div class="header-content flex items-center flex-row">
      <form action="#">
        <div class="hidden md:flex relative">
          <div
            class="inline-flex items-center justify-center absolute left-0 top-0 h-full w-10 text-gray-400"
          >
          </div>
        </div>
        <div class="flex md:hidden">
          <a href="#" class="flex items-center justify-center h-10 w-10 border-transparent">
            <svg
              class="h-6 w-6 text-gray-500"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
            </svg>
          </a>
        </div>
      </form>
      <div class="flex ml-auto mr-5 self-end">
        <a href class="flex flex-row items-center">
          <i class="pi pi-user text-white " style="font-size: 1.5rem"></i>
          <span class="flex flex-col ml-2">
            <span class="truncate font-semibold tracking-wide leading-none text-white">{{nome}}</span>
          </span>
        </a>
      </div>
    </div>
  </header>
  <div class="main-content flex flex-col flex-grow p-4">
    <h1 class="font-bold text-2xl text-white">Dados cliente</h1>

  </div>

  <footer class="footer px-4 py-6">
    <div class="footer-content">
      <p class="text-sm text-gray-600 text-center">jhon o melhor <a href="https://twitter.com/iaminos">by JhonH</a></p>
    </div>
  </footer>
</main>
</div>
