<div class="flex flex-row w-full rounded-lg">
  <img class="flex flex-col bg-cover rounded-lg lg:w-80" style="background-image: url('../../../assets/FrontPageimg.jpg')" />
  <div class="bg-[#1A1814] rounded-b lg:rounded-b-none lg:rounded-r pt-16 flex flex-col justify-between leading-normal w-[500px]">
    <div class="p-5 mb-8">
      <div class="mb-2 text-xl font-bold text-yellow-500">
        <p>{{produto.nomeproduto}}</p>
      </div>
      <div class="flex items-center">
        <div class="text-sm">
          <p class="leading-none text-yellow-500">{{produto.preco | currency: "EUR"}}</p>
        </div>
      </div>
    </div>
    <div class="flex justify-end pb-10 mr-4">
      <button (click)="onClick()" class="bg-transparent hover:bg-yellow-500 hover:text-black text-white border-2 border-yellow-500 rounded-full px-4 py-2 uppercase font-medium tracking-wider transition duration-300 ease-in-out">
        Adicionar ao carrinho
      </button>
    </div>
  </div>
</div>
