<div class="flex flex-col items-center justify-center py-12 mx-auto bg-[#1A1814]" data-aos="fade-up">
    
        <div class="flex flex-col self-start m-10">
            <h2 class="text-3xl font-bold text-white">Menu</h2>
            <p class="text-[36px] font-bold text-[#CDA45E] ">Check Our Tasty Menu</p>
          </div>
      
          <div class="flex items-center justify-center my-8" data-aos="fade-up" data-aos-delay="100">
            <ul id="menu-flters" class="flex space-x-4">
              <li data-filter="*" class="px-3 py-2 rounded-md text-sm font-medium text-gray-300 hover:text-[#CDA45E] hover:bg-[#28251f]">All</li>
              <li data-filter=".filter-starters" class="px-3 py-2 rounded-md text-sm font-medium text-gray-300 hover:text-[#CDA45E] hover:bg-[#28251f]">Starters</li>
              <li data-filter=".filter-salads" class="px-3 py-2 rounded-md text-sm font-medium text-gray-300 hover:text-[#CDA45E] hover:bg-[#28251f]">Salads</li>
              <li data-filter=".filter-specialty" class="px-3 py-2 rounded-md text-sm font-medium text-gray-300 hover:text-[#CDA45E] hover:bg-[#28251f]">Specialty</li>
            </ul>
        </div>

        <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">

            <div class="col-lg-6 menu-item filter-starters">
              <img src="assets/img/menu/lobster-bisque.jpg" class="menu-img" alt="">
              <div class="menu-content">
                <a href="#">Lobster Bisque</a><span>$5.95</span>
              </div>
              <div class="menu-ingredients">
                Lorem, deren, trataro, filede, nerada
              </div>
            </div>
  
            <div class="col-lg-6 menu-item filter-specialty">
              <img src="assets/img/menu/bread-barrel.jpg" class="menu-img" alt="">
              <div class="menu-content">
                <a href="#">Bread Barrel</a><span>$6.95</span>
              </div>
              <div class="menu-ingredients">
                Lorem, deren, trataro, filede, nerada
              </div>
            </div>
        </div>
</div>
         