<div class="flex items-center justify-center ">

<aside
  id="default-sidebar"
  class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0"
  aria-label="Sidebar"
>
  <div class="h-full px-3 py-4 overflow-y-auto bg-[#0C0B09] flex justify-between flex-col">
  <div>
    <ul class="space-y-2 font-medium">
        <li>
          <a href="#" class="flex items-center p-2 rounded-lg text-white">
            <span class="ml-3">Admin</span>
          </a>
        </li>
        <li>
          <a
            href="#"
            class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-[#1A1814]"
          >
            <span class="flex-1 ml-3 whitespace-nowrap">Mesas</span>
          </a>
        </li>
        <li>
          <a
            href="#"
            class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-[#1A1814]"
          >
            <span class="flex-1 ml-3 whitespace-nowrap">teste</span>
          </a>
        </li>
        <li>
          <a
            href="#"
            class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-[#1A1814]"
          >
            <span class="flex-1 ml-3 whitespace-nowrap">teste</span>
          </a>
        </li>
        <li>
          <a
            href="#"
            class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-[#1A1814]"
          >
            <span class="flex-1 ml-3 whitespace-nowrap">teste</span>
          </a>
        </li>
        <li>
          <a
            href="#"
            class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-[#1A1814]"
          >
            <span class="flex-1 ml-3 whitespace-nowrap">teste</span>
          </a>
        </li>
        <li>
          <a
            href="#"
            class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-[#1A1814]"
          >
            <span class="flex-1 ml-3 whitespace-nowrap">teste</span>
          </a>
        </li>
      </ul>
  </div>
    <div class="flex items-center m-4 border border-[#CDA45E] rounded-lg p-1">
        <div class="border-2 w-8 h-8 rounded-full flex justify-center">
          <a class="pi pi-user text-xl"></a>
        </div>
        <p class="m-3">Nome admin</p>
      </div>
  </div>

</aside>
<div class="flex flex-col justify-around  items-center w-1/2">

<p-table [tableStyle]="{'min-width': '60rem'}" [value]="clientInfo">
  <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
          Products
      </div>
  </ng-template>
  <ng-template pTemplate="header">
      <tr>
          <th>Nome</th>
          <th>Telefone</th>
          <th>Email</th>
          <th>Password</th>
          <th>Morada</th>
          <th>Código Postal</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-clientInfo>
      <tr>
          <td>{{clientInfo.nome}}</td>
          <td>{{clientInfo.telefone}}</td>
          <td>{{clientInfo.email}}</td>
          <td>{{clientInfo.password}}</td>
          <td>{{clientInfo.morada}}</td>
          <td>{{clientInfo.codPostal}}</td>
      </tr>
  </ng-template>
</p-table>

<p-table [value]="prodinfo" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template pTemplate="header">
      <tr>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Preço</th>
        <th>Categoria</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-prodinfo let-editing="editing">
      <tr>
          <td [pEditableColumn]="prodinfo.nomeproduto" pEditableColumnField="code">
              <p-cellEditor>
                  <ng-template pTemplate="input">
                      <input pInputText type="text" [(ngModel)]="prodinfo.nomeproduto" />
                  </ng-template>
                  <ng-template pTemplate="output">
                      {{ prodinfo.nomeproduto }}
                  </ng-template>
              </p-cellEditor>
          </td>
          <td [pEditableColumn]="prodinfo.descricao" pEditableColumnField="name">
              <p-cellEditor>
                  <ng-template pTemplate="input">
                      <input pInputText type="text" [(ngModel)]="prodinfo.descricao" required />
                  </ng-template>
                  <ng-template pTemplate="output">
                      {{ prodinfo.descricao }}
                  </ng-template>
              </p-cellEditor>
          </td>
          <td [pEditableColumn]="prodinfo.preco" pEditableColumnField="inventoryStatus">
              <p-cellEditor>
                  <ng-template pTemplate="input">
                      <input pInputText [(ngModel)]="prodinfo.preco" />
                  </ng-template>
                  <ng-template pTemplate="output">
                      {{ prodinfo.preco | currency: 'USD'  }}
                  </ng-template>
              </p-cellEditor>
          </td>
          <td [pEditableColumn]="prodinfo.categoria" pEditableColumnField="price">
              <p-cellEditor>
                  <ng-template pTemplate="input">
                      <input pInputText type="text" [(ngModel)]="prodinfo.categoria" />
                  </ng-template>
                  <ng-template pTemplate="output">
                      {{ prodinfo.categoria}}
                  </ng-template>
              </p-cellEditor>
          </td>
      </tr>
  </ng-template>
</p-table>

</div>

</div>


