<div class="flex items-center justify-center ">

<aside
  id="default-sidebar"
  class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0"
  aria-label="Sidebar"
>
  <div class="h-full px-3 py-4 overflow-y-auto bg-[#0C0B09] flex justify-between flex-col">
  <div>
    <ul class="space-y-2 font-medium">
        <li>
          <a href="#" class="flex items-center p-2 rounded-lg text-white">
            <span class="ml-3">Admin</span>
          </a>
        </li>
        <li>
          <a
            href="#"
            class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-[#1A1814]"
          >
            <span class="flex-1 ml-3 whitespace-nowrap">Mesas</span>
          </a>
        </li>
        <li>
          <a
            href="#"
            class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-[#1A1814]"
          >
            <span class="flex-1 ml-3 whitespace-nowrap">teste</span>
          </a>
        </li>
        <li>
          <a
            href="#"
            class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-[#1A1814]"
          >
            <span class="flex-1 ml-3 whitespace-nowrap">teste</span>
          </a>
        </li>
        <li>
          <a
            href="#"
            class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-[#1A1814]"
          >
            <span class="flex-1 ml-3 whitespace-nowrap">teste</span>
          </a>
        </li>
        <li>
          <a
            href="#"
            class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-[#1A1814]"
          >
            <span class="flex-1 ml-3 whitespace-nowrap">teste</span>
          </a>
        </li>
        <li>
          <a
            href="#"
            class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-[#1A1814]"
          >
            <span class="flex-1 ml-3 whitespace-nowrap">teste</span>
          </a>
        </li>
      </ul>
  </div>
    <div class="flex items-center m-4 border border-[#CDA45E] rounded-lg p-1">
        <div class="border-2 w-8 h-8 rounded-full flex justify-center">
          <a class="pi pi-user text-xl"></a>
        </div>
        <p class="m-3">Nome admin</p>
      </div>
  </div>

</aside>
<div class="flex justify-center items-center w-1/2">
    
    <p-table [tableStyle]="{'min-width': '60rem'}">
    <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
            Products
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>Name</th>
            <th>Image</th>
            <th>Price</th>
            <th>Category</th>
            <th>Reviews</th>
            <th>Status</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr>
            <td>{{product.name}}</td>
            <td>class="shadow-4" /></td>
            <td>{{product.price | currency:'USD'}}</td>
            <td>{{product.category}}</td>
            <td></td>
            <td></td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
            In total there are  products.
        </div>
    </ng-template>
</p-table>
</div>

</div>


