
    <div class="bg-[#0C0B09]" data-aos="fade-up">

        <div class="flex flex-col self-start m-10">
            <h2 class="text-3xl font text-white">Reserva</h2>
            <p class="text-[36px] font-bold text-yellow-500 ">Reservar Mesa</p>
          </div>

      <form >
        <div class=" flex justify-center items-center flex-col ">
           <div class="flex p-2 ">
               <input pInputText type="text" class="m-1 bg-[#1A1814]" placeholder="Insira o seu E-mail"  />
               <input pInputText type="text" class="m-1 bg-[#1A1814]" placeholder="Insira o seu Número "  />
               <input pInputText type="text" class="m-1 bg-[#1A1814]" placeholder="Insira seu Nome"  />
           </div>

            <div class="flex p-2 ">
            <input pInputText type="text" class="m-1 bg-[#1A1814]" placeholder="Insira a Data"  />
            <input pInputText type="text" class="m-1 bg-[#1A1814]" placeholder="Insira a Hora "  />
            <input pInputText type="text" class="m-1 bg-[#1A1814]" placeholder="# de Pessoas "  />
            </div>
        <div class="">
            <textarea pKeyFilter="int" class="bg-[#1A1814]" rows="5" cols="100" pInputTextarea></textarea>
        </div>
        <p-button
        label="Reservar Mesa"
        styleClass="p-button-rounded  font-bold bg-transparent text-white hover:bg-yellow-500"
      ></p-button>
        

    </div>
