<div class="bg-[#0C0B09]" >
        <div class="flex flex-col self-start m-10">
            <h2 class="text-3xl font text-white">Reserva</h2>
            <p class="text-[36px] font-bold text-yellow-500 ">Reservar Mesa</p>
          </div>

      <form>
        <div class=" flex justify-center items-center flex-col ">
            <div class="flex p-2 justify-between ">
            <p-calendar [showIcon]="true" [(ngModel)]="data" class="m-1 bg-[#1A1814]" dateFormat="yy/mm/dd" placeholder="yy/mm/dd"	 [ngModelOptions]="{standalone: true}"  />
            <p-calendar [showIcon]="true" [(ngModel)]="hora" class="m-1 bg-[#1A1814]" [timeOnly]="true" placeholder="--:--" [ngModelOptions]="{standalone: true}"  />
            <input pInputText type="text" class="m-1 bg-[#1A1814]" placeholder="Nº de Pessoas"  />
            <p-dropdown [options]="listarest" [(ngModel)]="selectedRes" [ngModelOptions]="{standalone: true}" optionLabel="nome_restaurante"></p-dropdown>
            </div>
        <div class="">
            <textarea placeholder="Observações" pKeyFilter="int" class="bg-[#1A1814]" rows="5" cols="100" pInputTextarea></textarea>
        </div>
        <p-button
        label="Reservar Mesa"
        styleClass="p-button-rounded  font-bold bg-transparent text-white hover:bg-[#CDA45E]  border-[#CDA45E]" class="m-4" (click)="Reservas()"></p-button>
    </div>
