<section id="about" class="relative py-20  bg-[#0c0c0c]">
    <div class="container px-4 mx-auto">
      <div class="relative flex flex-wrap">
        <div class="order-2 px-4 py-10 mt-10 lg:w-6/12 lg:mt-0 lg:order-1">
          <h3 class="text-3xl font-semibold text-white">Um pouco sobre nos</h3>
          <p class="mt-4 text-lg italic text-white">No Menu do Chefe, acreditamos na importância de criar um ambiente caloroso e acolhedor para nossos clientes. </p>
 <p class="mt-6 text-white">Nossa equipe de atendimento é amigável, profissional e está sempre pronta para proporcionar um serviço personalizado e atencioso. Queremos que você se sinta em casa, desfrutando de uma experiência gastronômica única que o transporte para um mundo de sabores e sensações.</p>
 <p class="mt-6 text-white">A reputação do restaurante cresce cada vez mais, atraindo não apenas moradores locais, mas também visitantes de outras cidades. O Menu do Chefe se tornou um destino gastronômico, um lugar onde as pessoas vinham para</p>
        
</div>
        <div class="mt-4 mb-10 transition-all duration-500 transform lg:w-6/12 lg:py-0 lg:order-2 hover:scale-105">
          <div class="relative flex flex-col w-full min-w-0 mb-6 break-words bg-[#1A1814] shadow-2xl">
            <div class="h-64 bg-center bg-cover" style="background-image: url('../../../assets/FrontPageimg.jpg')"></div>
            <div class="flex-auto p-10">
              <h4 class="text-2xl font-semibold text-white">Our Story</h4>
              <p class="mt-4 text-white ">No coração da nossa paixão pela culinária, nasceu o Menu do Chefe. Fundado pelo jovens José, Jonathan e Gonçalo, nosso restaurante é o resultado de anos de aprendizado, experiência e um amor inabalável pela arte da gastronomia.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
