<section id="about" class="relative py-20">
    <div class="container px-4 mx-auto">
      <div class="relative flex flex-wrap">
        <div class="order-2 px-4 py-10 mt-10 lg:w-6/12 lg:mt-0 lg:order-1">
          <h3 class="text-3xl font-semibold">Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h3>
          <p class="mt-4 text-lg italic">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <ul class="mt-6 ml-8 list-disc">
            <li class="mb-2"><i class="text-lg text-yellow-500 bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
            <li class="mb-2"><i class="text-lg text-yellow-500 bi bi-check-circle"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
            <li class="mb-2"><i class="text-lg text-yellow-500 bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
          </ul>
          <p class="mt-6">Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="mt-4 mb-10 lg:w-6/12 lg:py-0 lg:order-2">
          <div class="relative flex flex-col w-full min-w-0 mb-6 break-words bg-white rounded-lg shadow-xl">
            <div class="h-64 bg-center bg-cover" style="background-image: url('../../../assets/FrontPageimg.jpg')"></div>
            <div class="flex-auto p-10">
              <h4 class="text-2xl font-semibold">Our Story</h4>
              <p class="mt-4 ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  