<div class="flex flex-row min-h-screen text-gray-800">
  <app-sidebar></app-sidebar>
<div class="container py-8 mx-auto">
  <div >
    <h1 class="mb-6 text-3xl font-bold text-white">
          Informações do Cliente

    </h1>
    <p class="mb-6 text-lg text-white">Gerenciar Informações do meu perfil</p>

  </div>
  <div class="border rounded-lg bg-[#1A1814] p-8">
    <div class="flex items-center justify-between mb-8">
      <div class="flex flex-col ml-16">
        
        <div class="mb-4">
          <div class="font-bold text-white">Nome:</div>
          <div class="mt-2">
            <div
            class="  text-lg text-gray-500 dark:text-gray-400 duration-300 transform  origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
              *ngIf="!editingNome"
              (dblclick)="editingNome = true"
            >
              {{ cliente.nome }}
            </div>
            <input
              *ngIf="editingNome"
              [(ngModel)]="cliente.nome"
              (blur)="editingNome = false"
              class="block py-2.5 px-0 w-full text-md text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"            />
          </div>
        </div>
        <div>
          <div class="font-bold text-white">Email:</div>
          <div class="mt-2">
            <div
            class="  text-lg text-gray-500 dark:text-gray-400 duration-300 transform  origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
              *ngIf="!editingEmail"
              (dblclick)="editingEmail = true"
            >
              {{ cliente.email }}
            </div>
            <input
              *ngIf="editingEmail"
              [(ngModel)]="cliente.email"
              (blur)="editingEmail = false"
              class="block py-2.5 px-0 w-full text-md text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 "            />
          </div>
        </div>
        
      </div>
      <div class="bg-black w-52 h-52">
        
      </div>
    </div>
    <div class="flex justify-end">
      <button
        class="px-6 py-3 text-white bg-yellow-500 rounded-lg hover:bg-yellow-600"
      >
        Salvar
      </button>
    </div>
  </div>
</div>

  
</div>
