
<div id="hero" class="flex justify-center items-center h-screen bg-hero-pattern bg-cover relative bg-top">
    <div class="flex justify-center items-center flex-col pt-110 md:pt-98 bg-[#0c0b09cc] rounded-2xl h-44 px-10 m">
      <h1 class="text-white font-bold text-4xl md:text-5xl lg:text-6xl leading-56 font-poppins">
        <span class="text-yellow-500">Sabor</span> Incomparável
      </h1>
      <h2 class="text-gray-300 text-lg mt-4 md:mt-0">Bem-vindo ao nosso restaurante de cinco estrelas</h2>
      <div class="mt-8">

        <a href="#" class="bg-transparent hover:bg-[#CCA35D] text-white border-2 border-[#CCA35D] rounded-full px-6 py-2 uppercase font-medium tracking-wider transition duration-300 ease-in-out md:mr-4">Ver nosso Menu</a>
        <a href="#" class="bg-transparent hover:bg-[#CCA35D] text-white border-2 border-[#CCA35D] rounded-full px-6 py-2 uppercase font-medium tracking-wider transition duration-300 ease-in-out md:mr-4">Reservar agora</a>
      </div>
    </div>
    <div class="flex justify-center items-center flex-col pt-110 md:pt-98">
       
      </div>
  
  </div>
  