<div
  class="flex flex-col items-center justify-center py-12 mx-auto bg-[#0C0B09]"
>
  <div class="flex flex-col self-start m-10">
    <h2 class="text-3xl font-bold text-white">Pratos do Dia</h2>
    <p class="text-[36px] font-bold text-yellow-500">
      Vê os pratos do dia
    </p>
  </div>

  <div class="flex flex-wrap border-2 border-[#0C0B09] justify-between lg:flex-row lg:border-[#CDA45E]">
    <button
      routerLinkActive="active"
      class="w-[100px] border-2 border-[#CDA45E] rounded-xl p-6 flex justify-center items-center lg:border-none m-2 "
      *ngFor="let ocaisao of ocasioes"
      (click)="getPratoDoDia(ocaisao.id_ocasiao)"
    >
      {{ ocaisao.ocasiao }}
    </button>
  </div>
  <div class="flex flex-col items-center justify-center gap-3 sm:flex-row mt-14 ">
    <div
      class="flex items-center justify-center border sm:border-yellow-500 border-none rounded-lg w-[500px] sm:w-full"
      *ngFor="let prato of pratosDoDia"
    >
      <!--Card 1-->
    
      <div class="flex flex-row w-1/2 rounded-lg sm:w-full h-[50%]">
        <img
          class="flex flex-col bg-center rounded-lg lg:w-96"
          style="background-image: url('https://imgmod16.blob.core.windows.net/teste/{{prato.imagem}}')"
        />
        <div
          class="bg-[#1A1814] rounded-b sm:rounded-b-none sm:rounded-r p-8 flex flex-col justify-between border border-yellow-500 sm:border-none leading-normal w-[500px] sm:w-full"
        >
          <div class="p-5 mb-8">
            <div class="mb-2 text-xl font-bold text-yellow-500">
              <p>{{ prato.nomeproduto }}</p>
            </div>

            <div class="flex items-center">
              <div class="text-sm">
                <p class="leading-none text-yellow-500">{{ prato.ocasiao }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div></div>


