@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }
  
  .homepage-wrapper {
    padding-top: 60px; /* Altura do navbar */
  }
  